{% load custom_tags %}

{% if card.player == player and card.submitted == True and card.round_submitted == object.round %}


<div class="col">
            <div class="card" style="width: 20rem" >
                <div class="card-body">
                    <h5 class="card-title">{{card.player}}</h5>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p class="card-text">{{card.card_name}}</p></li>
                    <li class="list-group-item"><p class="card-text">{{card.converted_mana_cost}}</p></li>
                    <li class="list-group-item"><p class="card-text">{{card.card_color}}</p></li>
                    <li class="list-group-item"><p class="card-text">{{card.card_type}}</p></li>
                    <li class="list-group-item"><p class="card-text">{{card.card_text}}</p></li>
                    <li class="list-group-item"><p class="card-text">{{card.flavor_text}}</p></li>
                </ul>
                <div class="card-body">
                    {% is_judging object.players.all object.judging as judge %}
                    {% if user == judge %}

                    <a class='btn btn-primary justify-center' href="{% url 'game:select' pk=object.pk player=card.player %}">Select</a>

                    {% endif %}
                </div>
            </div>
        </div>


{% endif %}

