{% load my_tags %}
{% is_judging object.players.all object.judging as judge %}
{% has_submitted object user as submitted %}
  <h1>Game  </h1>

  {{object.card_name}}
  <h3>Rounds {{object.number_of_rounds}}</h3>
<div class="content">
  <h3>Current round = {{object.round}}</h3>
  <h3>Judge = {{ judge }} </h3>
    <h1>Players</h1>
    {% for player in object.players.all %}
    <ul>
      <li>{{ player }} {% player_score object player %}</li>
    </ul>
    {% endfor %}


  <form method='POST'>
    {% csrf_token %}
    {% if object.number_of_players > object.players.count %}
    <h1>Would you like to join this game?</h1>
    <a class='btn btn-primary' href="{% url 'game:join' pk=object.pk %}">Join Game</a>
    {% elif user in object.players.all and object.number_of_players > object.players.count %}
    <h1>We will notify you once your game has enough players to begin.</h1>
    {% elif object.number_of_players == object.players.count and object.in_progress == False %}
    <a class='btn btn-primary' href="{% url 'game:start' pk=object.pk %}">Start Game</a>
    {% elif object.in_progress == True and user != judge and submitted == False %}
    <a class='btn btn-primary' href="{% url 'game:submit' pk=object.pk %}">Submit your card</a>
    {% else %}
      <h1>Here are the cards that have been submitted!</h1>
    {% endif %}

    {% for player in object.players.all %}
      {% for card in object.submissions.all %}
        {% include "submissions/_submissions.html" %}
      {% endfor %}
    {% endfor %}
  </form>
</div>
