{% extends "base.html" %}
{% load bootstrap4 %}
{% load my_tags %}
{% block content %}

{% winner object as won %}
{% submission_url object user as card_url %}

{% if object.round > object.number_of_rounds %}

<h1>You have completed the game!</h1>
{% for player in object.players.all %}
{% if player == won %}
<h1>{{player}} won the game!</h1>

{% else %}
<ul>
  <li>{{ player }} {% player_score object player %}</li>
</ul>
{% endif %}
{% endfor %}



{% elif object.round <= object.number_of_rounds %}
{% include "game/_game_details.html" %}

{% endif %}

</div>

{% endblock %}
